{% extends "base.html" %}
{% set active_page = "entry" %}
{% block head %}
<link href="../static/css/entry.css" rel="stylesheet">
{% endblock %}
{% block title %}Med AI | Data Entry{% endblock %}
{% block content %}
<!-- Side navigation -->
<div class="sidenav">
    <a href="#">Chronic Kidney Disease</a>
    <a href="#">Cardiovascular Disease</a>
    <a href="#">Disease X</a>
    <a href="#">Disease Y</a>
    <a href="#">Disease Z</a>
</div>
  
  <!-- Page content -->
<div class="main">
    {{ get_features(model_id=1) }}
</div>
{% endblock %}