{% extends "base.html" %}
{% set active_page = "entry" %}
{% block head %}
<link href="../static/css/entry.css" rel="stylesheet">
{% endblock %}
{% block title %}Med AI | Data Entry{% endblock %}
{% block content %}
<!-- Side navigation -->
<div class="sidenav">
    <a href="#">Chronic Kidney Disease</a>
    <a href="#">Cardiovascular Disease</a>
    <a href="#">Disease X</a>
    <a href="#">Disease Y</a>
    <a href="#">Disease Z</a>
</div>
  
  <!-- Page content -->
<div class="main">
    <h1 class="display-4">Data Entry</h1>
    <hr>
    <form action="#">
      {% set feat = get_features(model_id=1) %}
      {% for row in feat %}
        <label>{{row[0]}}</label>
        <input 
          {% if row[1] == "int64" %}type="number"
          {% elif row[1] == "float64" %}type="number" step="0.01"
          {% else %}type="text"
          {% endif %}
        >
        <br>
      {% endfor %}
    </form>
</div>
{% endblock %}